.Pagination {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.PaginationButton {
  position: relative;
  padding: 7px 12px;
  margin-left: -1px;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  color: #0366d6;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background: #fff;
  border: 1px solid #eee;
}

.PaginationButton:hover,
.PaginationButton:active {
  background-color: #eff;
  border-color: #eee;
}

.CurrentPageButton,
.CurrentPageButton:hover {
  color: #fff;
  background-color: #0366d6;
  border-color: #0366d6;
}

.PreviousPage {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.NextPage {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.Disabled {
  color: #d1d5da;
  cursor: default;
  background-color: #fafbfc;
}
