.IssuesMain {
  width: 90%;
  margin: 0 auto;
}

.IssuesForm {

}

.IssuesList {
  list-style-type: none;
  padding: 0;
}

.IssuesListElement {
  border: 1px solid #ccc;
  padding: 10px 10px 10px 20px;
  margin-top: -1px;
}

.IssuesListElement:hover {
  background-color: #eee;
}