.Autocomplete {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.AutocompleteArray {
  position: relative;
  top: 200px;
  z-index: 10;
  width: 90%;
  margin: 0 auto;
}

.AutocompleteElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  margin-top: -1px;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.AutocompleteElement:hover {
  background-color: #eee;
  cursor: pointer;
}

.Backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(0, 0, 0, 0.1); */
}