.IssuesList {
  list-style-type: none;
  padding: 0;
}

.IssuesListElement {
  border: 1px solid #ccc;
  padding: 10px 10px 10px 20px;
  margin-top: -1px;
}

.IssuesListElement:hover {
  background-color: #eee;
}

.IssuesListElement:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.IssuesListElement:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
